h1#logo { font-size: 4.2em; font-family: Arial, sans-serif; font-weight: normal; margin: -10px 0 0 0; }
#menu-bar { margin: 0 0 0 0; padding-bottom: 31px;}
#main-col-store { margin: 0 0 15px 0; }
ul#bestof li { margin: -3px 0 10px 0; }
ul#connect li { margin: -3px 0 0 10px; width: 260px; }
ul#buy-now { margin: -10px 0 15px -30px; }