/*	RESET */

img, iframe, embed, object, video, .wp-caption { max-width: 100%; height: auto; } 



/*	STRUCTURE */

#page-wrap { width: 640px; }
#main-col-nosidebar { width: 640px; }
#sidebar { width: 640px; margin: 20px 0 0 0; padding: 40px 0 0 0; border-top: 1px dotted #a9a9a9; float: left; }



/*	HEADER */

#top-bar { width: 640px; }
#top-bar-1 { width: 640px; }
#top-bar-2 { width: 640px; }



/*	MENU */

#main-nav { width: 640px; margin: 0 0 0 -15px; text-align: left; }



/*	CONTENT BOXES */

.landing-third { width: 193px; }
.landing-half { width: 300px; }



/* 	SIDEBAR */ 


.widget { width: 640px; }
#searchform { margin: 20px 0 40px 0; }



/*	FOOTER */

#footer-inside { width: 640px; }
#footer-1 { width: 640px; }
