/**
 * @section Forms
 */

form,
fieldset {
	margin-bottom: 1.529411765em;
}

legend,
label {
	display: block;
	font-weight: normal;
	padding: 0;
	margin-bottom: .294117647em;
}

legend {
	font-size: 1.176470588em;
}

input,
textarea,
select {
	display: block;
	width: 100%;
	font: inherit;
	line-height: 1.470588235;
	color: lighten( $color-black, 18% );
	vertical-align: middle;
	margin-bottom: 1.176470588em;
	padding: .294117647em;
	border: .071428571em solid lighten( $color-gray-dark, 22% );
	border-radius: .176470588em;
	box-sizing: border-box;

	@media (min-width: $bp-medium) {
		line-height: 1.588235294;
	}
}

form button,
form .btn {
	margin-bottom: 1.176470588em;
}

form button.space-default,
form .btn.space-default {
	margin-bottom: .3em;
}

textarea {
	height: 12em;
}

input[type="image"],
input[type="checkbox"],
input[type="radio"],
input[type="image"] {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 0;
	margin-bottom: .294117647em;
	cursor: pointer;
}

input[type="image"] {
	border: none;
}

input:focus,
textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: inset 0 .071428571em .071428571em rgba(0, 0, 0, 0.075), 0 0 .470588235em rgba(82, 168, 236, 0.6);
	outline: 0;
	outline: thin dotted \9;
}

input[type="file"]:focus,
input[type="checkbox"]:focus,
select:focus {
	box-shadow: none;
	outline: thin dotted;
	outline: .294117647em auto -webkit-focus-ring-color;
	outline-offset: -.117647059em;
}


/**
 * Search
 */

.input-search {
	display: inline-block;
	width: 85%;
	padding-left: .882352941em;
	padding-right: 2.352941176em;
	border-radius: 1.352941176em;
}

.btn-search {
	display: inline-block;
	color: $color-gray-dark;
	border: none;
	background: none;
	margin-left: -2.352941176em;
}

.btn-search:hover {
	color: $color-black;
	text-decoration: none;
}


/**
 * Inline Inputs
 */
.input-inline,
.input-inline label {
	display: inline-block;
	width: auto;
}


/**
 * Condensed Inputs
 */
.input-condensed {
	line-height: 1;
	padding: .117647059em;
}