/**
 * @section Grid
 * Structure and layout.
 */

/**
 * Mobile-first. Single-column layout by default
 * Container sets the maximum page width.
 */
.container {
	max-width: $container-max;
	width: $container-width;
	margin-left: auto;
	margin-right: auto;
}

.row {
	margin-left: $grid-margins * -1;
	margin-right: $grid-margins * -1;
}

.grid-fourth,
.grid-third,
.grid-half,
.grid-two-thirds,
.grid-three-fourths,
.grid-full,
.grid-img,
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-6, {
	float: left;
	width: 100%;
	padding-left: $grid-margins;
	padding-right: $grid-margins;
}


/**
 * Reverses order of grid for content choreography
 */
.grid-flip {
	float: right;
}


/**
 * Image gallery
 */
.grid-img {
	@media (min-width: $bp-small)  { width: 50%; }
	@media (min-width: $bp-medium) { width: 33.33333333333%; }
	@media (min-width: $bp-large)  { width: 25%; }
}


/**
 * Grid structure
 */
@each $breakpoint, $prefix, $offset in ($grid-breakpoints){
	@media (min-width: $breakpoint) {
		@each $grid, $width in ($grid-sizes) {
			#{$prefix} .grid-#{$grid} {
				width: $width;
			}
		}
		@if $offset {
			@each $grid, $width in ($grid-sizes) {
				#{$prefix} .offset-#{$grid} {
					margin-left: $width;
				}
			}
		}
	}
}