/**
 * @section Icons
 * Styling for the icon font.
 */

/**
 * Include the icon font family
 */

@include font-face('icomoon', '../fonts/icomoon', normal, normal);


/**
 * Base class
 */

.icon {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-large {
	font-size: 2em;

	@media (min-width: $bp-medium) {
		font-size: 3em;
	}
}


/**
 * Icon content
 */

@each $icon, $character, $color in ($icons) {
	.font-face .icon-#{$icon}:before { content: "\#{$character}" };
}

/**
 * Icon colors
 */

@each $icon, $character, $color in ($icons) {
	@if $color {
		.icon-#{$icon} { color: $color };
	}
}

/**
 * Icons in links
 */

a.icon-link-wrap:hover {
    text-decoration: none;
}

a:hover .icon-link {
    color: $color-black;
}

a:hover .icon-link-text {
    text-decoration: underline;
}


/**
 * Override color-styled icons
 */

.icon-inherit-color {
    color: inherit;
}


/**
 * Text that displays when @font-face is unsupported.
 * Also provides assistance for screen readers.
 */

.font-face .icon-fallback-text {
	position: absolute;
	top: -9999em;
	left: -9999em;
}

/**
 * Icon Grid
 * Used on the landing page "Stay Connected" section
 */

.icon-grid {
	margin-left: .5em;
	margin-right: .5em;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}

	@media (min-width: $bp-medium) {
		margin-left: 1em;
		margin-right: 1em;
	}
}


/**
 * CSS3 Icons
 */

.icon-bar {
	display: block;
	width: 1.176470588em;
	height: .125em;
	background-color: $color-white;
	border-radius: .071428571em;
}

.icon-bar + .icon-bar {
	margin-top: .1875em;
}


/**
 * Loading Icon
 */

.loading {
	font-size: 5.5em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin: 0.8em auto;
	position: relative;
	animation: loader 2.0s infinite ease;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
		box-shadow: -0.11em -0.83em 0 -0.4em #808080, -0.11em -0.83em 0 -0.42em #808080, -0.11em -0.83em 0 -0.44em #808080, -0.11em -0.83em 0 -0.46em #808080, -0.11em -0.83em 0 -0.477em #808080;
	}
	5%,
	95% {
		box-shadow: -0.11em -0.83em 0 -0.4em #808080, -0.11em -0.83em 0 -0.42em #808080, -0.11em -0.83em 0 -0.44em #808080, -0.11em -0.83em 0 -0.46em #808080, -0.11em -0.83em 0 -0.477em #808080;
	}
	30% {
		box-shadow: -0.11em -0.83em 0 -0.4em #808080, -0.51em -0.66em 0 -0.42em #808080, -0.75em -0.36em 0 -0.44em #808080, -0.83em -0.03em 0 -0.46em #808080, -0.81em 0.21em 0 -0.477em #808080;
	}
	55% {
		box-shadow: -0.11em -0.83em 0 -0.4em #808080, -0.29em -0.78em 0 -0.42em #808080, -0.43em -0.72em 0 -0.44em #808080, -0.52em -0.65em 0 -0.46em #808080, -0.57em -0.61em 0 -0.477em #808080;
	}
	100% {
		transform: rotate(360deg);
		box-shadow: -0.11em -0.83em 0 -0.4em #808080, -0.11em -0.83em 0 -0.42em #808080, -0.11em -0.83em 0 -0.44em #808080, -0.11em -0.83em 0 -0.46em #808080, -0.11em -0.83em 0 -0.477em #808080;
	}
}