/**
 * @section Navigation
 */

.nav-bg {
	background-color: $color-primary;
	margin-bottom: .823529412em;
}

/**
 * Center all navigation elements
 */
.nav-wrap {
	text-align: center;
	padding-top: .470588235em;
	padding-bottom: .235294118em;
}

/**
 * For text-based logo, override default link styling.
 * If .logo and .nav don't align properly, adjust the .logo line-height.
 */
.logo {
	display: inline-block;
	font-weight: bold;
	line-height: 1.3;
	font-size: 1.176470588em;
	color: $color-white;
	text-decoration: none;

	&:hover {
		color: $color-white;
		text-decoration: none;
	}
}

/**
 * Remove default list styling for navigation list
 */
.nav {
	list-style: none;
	margin-left: 0;
	margin-bottom: .470588235em;
}

/**
 * Display navigation items as inline-block elements.
 * Add slight margin between each navigation item.
 */
.nav > li {
	display: inline-block;
	float: none;
	margin-left: .588235294em;
	margin-right: .588235294em;
}

/**
 * Remove margin-left on first navigation item
 */
.nav > li:first-child {
	margin-left: 0;
}

/**
 * Remove margin-right on last navigation item
 */
.nav > li:last-child {
	margin-right: 0;
}

/**
 * Nav link styling
 */
.nav > li > a {
	color: darken( $color-gray-light, 5% );
}

/**
 * Nav link hover and active styling
 */
.nav > li > a:hover,
.nav > li > a.active {
	color: $color-white;
}

/**
 * Hide the navigation toggle menu button and search toggle button by default.
 */
.nav-toggle {
	display: none;
	visibility: hidden;
}


/**
 * Expand-and-Collapse styling for smaller screens.
 * .js-astro prefix ensure content is only hidden when JavaScript is supported.
 */

@media (max-width: $bp-large) {

	/**
	 * Align text to the left when javascript is supported
	 */
	.js-astro .nav-wrap {
		text-align: left;
	}

	/**
	 * Float logo to the left when javascript is supported
	 */
	.js-astro .logo {
		float: left;
	}

	/**
	 * Nav link active styling
	 */
	.js-astro .nav > li > a.active {
		color: $color-white;
		background-color: transparent;
	}

	/**
	 * Display navigation toggle button if javascript is supported
	 */
	.js-astro .nav-toggle {
		display: block;
		visibility: visible;
		float: right;
	}

	/**
	 * Increase base size of nav toggle button
	 */
	.nav-toggle.btn {
		font-size: 1em;
	}

	/**
	 * Hide navigation items if javascript is supported
	 */
	.js-astro .nav-collapse {
		max-height: 0;
		overflow: hidden;
		display: block;
		width: 100%;
		box-sizing: border-box;
		/*  CSS3 animation for when menu content expands */
		transition: all 0.35s ease-in;
	}

	/**
	 * When collapsed element has the .active class, show it
	 * Uses max-height instead of display: none to allow for CSS3 animations, which don't work on display values.
	 */
	.js-astro .nav-collapse.active {
		max-height: 600em;
	}

	/**
	 * When JavaScript is enabled, float .nav text to the left
	 */
	.js-astro .nav {
		text-align: left;
	}

	/**
	 * Display navigation items as full-width, stacked blocks when javascript supported
	 */
	.js-astro .nav-collapse li {
		display: block;
		width: 100%;
		box-sizing: border-box;
		margin-left: 0;
		margin-right: 0;
		padding-top: .235294118em;
		padding-bottom: .235294118em;
	}

}


/**
 * Nav styling for even bigger screens.
 */
@media (min-width: $bp-large) {

	/**
	 * Align text to the left
	 */
	.nav-wrap {
		text-align: left;
		padding-top: .235294118em;
	}

	/**
	 * Float logo to the left, display as inline-block, and adjust margins
	 */
	.logo {
		display: inline-block;
		float: left;
		margin-right: 1.176470588em;
	}

	/**
	 * Reduce the top margin and remove the bottom margin
	 */
	.nav {
		margin-bottom: 0;
	}

}