/**
 * @section Petfinder API
 * Styling for list of available dogs.
 */

/**
 * Main pet listings
 */

.pf {
	min-height: 16.706588235em;
}

.pf img {
	max-height: 9.375em;
}

.pf-description {
	white-space: pre-wrap;
	word-break: keep-all;
}


/**
 * Individual pets
 */

.pet-img-main img {
	max-height: 29.411764706em;
}

.pet-img-thumbs {
	margin-left: -1.515151515152%;
	margin-right: -1.515151515152%;
}

.pet-img-thumb {
	float: left;
	width: 30.30303030303%;
	margin-left: 1.515151515152%;
	margin-right: 1.515151515152%;
}