/**
 * WordPress Images
 */

/**
 * Display all images as centered block elements.
 * Mobile-first default styling.
 */
.alignleft,
.alignright,
.aligncenter,
.alignnone {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/**
 * Image Caption Styling
 */
.wp-caption-text {
	font-size: .882352941em;
	font-style: italic;
	color: #808080;
	padding-top: .470588235em;
	text-align: center;
}

@media (min-width: $bp-small) {

	/**
	 * On bigger screens, float .alignleft images to the left with a slight margin-right.
	 */
	.alignleft {
		float: left;
		margin-right: .823529412em;
	}

	/**
	 * On bigger screens, float .alignright images to the right with a slight margin-left.
	 */
	.alignright {
		float: right;
		margin-left: .823529412em;
	}

	/**
	 * On bigger screens, remove left and right margins from .alignnone.
	 */
	.alignnone {
		margin-left: 0;
		margin-right: 0;
	}
}